<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">In3 Computer Store</a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <ng-select class="in-input" [items]="ramDropDown" [multiple]="true" (click)="startSearch()" [closeOnSelect]="true"
        [searchable]="true" bindLabel="name" placeholder="Select Rams" [(ngModel)]="rams">
      </ng-select>
    </div>
    <div class="col-md-6">
      <ng-select class="in-input" [items]="cpuDropDown" [multiple]="true" (click)="startSearch()" [closeOnSelect]="true"
        [searchable]="true" bindLabel="name" placeholder="Select cpus" [(ngModel)]="cpus">
      </ng-select>
    </div>
    <div class="col-md-6">
      <ng-select class="in-input" [items]="opSysDropDown" [multiple]="true" (click)="startSearch()"
        [closeOnSelect]="true" [searchable]="true" bindLabel="name" placeholder="Select opsys" [(ngModel)]="opsys">
      </ng-select>
    </div>
    <div class="col-md-6">
      <ng-select class="in-input" [items]="inchesDropDown" [multiple]="true" (click)="startSearch()"
        [closeOnSelect]="true" [searchable]="true" bindLabel="name" placeholder="Select inches" [(ngModel)]="inches">
      </ng-select>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <input id="typeahead-http" type="text" class="form-control in-input" [class.is-invalid]="searchFailed"
        [(ngModel)]="searchKey" (keyup.enter)="startSearch()" [ngbTypeahead]="search"
        placeholder="Type Company or Product" />
      <small *ngIf="searching" class="form-text text-muted">searching...</small>
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
    </div>
  </div>



  <hr>

  <div class="row" *ngIf="storeData?.length > 0">
    <div class="col-md-12">
      <div class="tb-data d-none d-lg-block">
        <table class="table table-striped tableST">
          <thead>
            <tr>
              <th scope="col">Company</th>
              <th scope="col">Product</th>
              <th scope="col">Type</th>
              <th scope="col">Inches</th>
              <th scope="col">Resolution</th>
              <th scope="col"> CPU</th>
              <th scope="col"> RAM</th>
              <th scope="col">Memory</th>
              <th scope="col">Graphics</th>
              <th scope="col">OpSys</th>
              <th scope="col">Weight</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of storeData">
              <td>{{ element.company }}</td>
              <td>{{ element.product }}</td>
              <td>{{ element.type }}</td>
              <td>{{ element.inches }}</td>
              <td>{{ element.resolution }}</td>
              <td>{{ element.cpu }}</td>
              <td>{{ element.ram }}</td>
              <td>{{ element.memory }}</td>
              <td>{{ element.graphics }}</td>
              <td>{{ element.opSys }}</td>
              <td>{{ element.weight }}</td>
              <td>{{ element.price | currency:'USD'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid d-lg-none" *ngIf="storeData?.length > 0">
  <div *ngFor="let element of storeData" class="card cardElement">
    <div class="card-body">
      <h5 class="card-title">{{element.company}}</h5>
      <p class="card-text">{{element.product}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="label">CPU:</span> {{ element.cpu }}</li>
      <li class="list-group-item"><span class="label">RAM:</span> {{ element.ram }}</li>
      <li class="list-group-item"><span class="label">Price:</span>{{ element.price | currency:'USD' }}</li>
    </ul>
  </div>
</div>

<div class="pagination" *ngIf="storeData?.length > 0">
  <ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="limit" (pageChange)="startSearch()"
    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" aria-label="Default pagination">
  </ngb-pagination>
</div>

<!-- empty state message -->
<div class="row" *ngIf="storeData?.length === 0">
  <div class="col-md-12 text-center empty-message">
    Sorry There's no data matching your filters...
  </div>
</div>