.in-input {
  margin: 15px 0;
}
.searchEdit {
  margin-left: 45px;
}
.table thead th{
    color: blue;
}
.pagination {
    display: flex;
    justify-content: center;
}
.cardElement {
  margin-bottom: 24px;
}
.empty-message{
    margin: 40px;
    color: #999;
}
/* mobile card styles */
.card-body {
  border-bottom: 1px solid #00000024;
  background: #efefef;
}
.card-title {
  font-weight: 600;
}
.card-text {
  font-weight: 500;
}
.label {
  font-weight: 600;
  color: blue;
  margin-right: 4px;
}
